<!DOCTYPE html>
<html lang="en">
<!-- title, title, date, content -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}} - Chog</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="/static/main.css">
</head>

<body>
    {{.Navbar}}
    <section class="hero is-link">
        <div class="hero-body">
            <p class="title">{{.Title}}</p>
            <p class="subtitle">{{.Date}}</p>
        </div>
    </section>
    <section class="section">
        <div class="container">
            {{.Content}}
        </div>
    </section>
</body>

</html>