<nav class="navbar">
    <div class="container">
        <div id="navMenu" class="navbar-menu">
            <div class="navbar-start">
                <a href="/" class="navbar-item">
                    <h1 class="title">
                        <!-- <span class="has-text-link">Ch</span><span class="has-text-primary">og</span> -->
                        <span class="has-text-primary">Chog</span>
                    </h1>
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a href="https://github.com/charliettaylor" class="button is-dark">Github</a>
                        <a href="https://charliet.dev" class="button is-primary">Website</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>